* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.select{
    margin-top: 20px;
}

.box{
    width: 500px;
    height: 500px;
    margin-top: 20px;
}

